@import "./animation";
@import "./elevation";
@import "./sizing";
@import "./spacing";
@import "./typography";
@import "./variables";

.appbar {
    @include elevation-medium();
    background-color: $surface;
    color: $white;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: $subunit;
    position: fixed;
    right: 0;
    top: 0;
}

.appbar__navigation {
    @include sizing-row();
    display: flex;
}

.appbar__title {
    @include title();
    @include spacing-target();
    margin: 0;
}

.appbar__action {
    @include spacing-target();
    border-radius: 50%;
    color: $white;
    transition: background-color $duration-simple $easing-standard;

    &:focus,
    &:hover {
        background-color: $highlight;
        color: $primary;
    }
}

#root {
    padding-top: 8 * $unit;
}
