@import "palette";
@import "spacing";
@import "typography";

.appbar {
    background: $color-primary;
    width: 100%;
}

.appbar-section {
    @include container();
}

.appbar-title {
    @include expand();
    @include target();
    @include typography-large();
}

.appbar-icon {
    @include target();
    display: block;
    color: $icon-inactive;

    &:hover {
        color: $icon-active;
    }
}

.appbar-tab {
    @include expand();
    @include target();
    color: $text-hint;
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {
        @include border-target();
        color: $text-normal;
    }
}
