@import "./elevation";
@import "./spacing";
@import "./typography";
@import "./variables";

.banner {
    @include elevation-small();
    @include caption();
    @include spacing-banner();
    @include spacing-y();
    background-color: $primary;
    border-radius: $border-radius;
    color: $white;
    text-align: center;
}
