@import "palette";
@import "spacing";
@import "typography";

.icon-button {
    @include target();
    display: block;
    color: $icon-inactive;

    &:hover,
    &:focus {
        color: $icon-active;
    }

    &:disabled {
        color: $icon-disabled;

        &:hover,
        &:focus {
            color: $icon-disabled;
        }
    }
}

@mixin text-button() {
    color: $text-hint;
    display: block;
    height: $leading-loose;
    text-align: center;

    &:hover,
    &:focus {
        color: $text-normal;
    }

    &:disabled {
        color: $text-disabled;

        &:hover,
        &:focus {
            color: $text-disabled;
        }
    }
}

.subheader-button {
    @include target-divider();
    @include text-button();
    @include typography-small();

    &:hover,
    &:focus,
    &[aria-pressed="true"] {
        @include target-border();
    }

    &[aria-pressed="true"] {
        border-bottom-color: $color-primary;
    }

    &:disabled {
        &:hover,
        &:focus {
            @include target-divider();
        }
    }

    &.numeric {
        text-align: center;
        width: 8 * $spacing-base;
    }

    &.primary {
        @include expand();
        text-align: center;
    }
}

.bottom-button {
    @include text-button();
    @include typography-small();
    border-top: $spacing-divider solid $color-divider;
    padding: ($spacing-small $spacing-divider) $spacing-base $spacing-small;
}
