@import "palette";
@import "spacing";
@import "typography";

@mixin meter-fill($color) {
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
        background: $color;
    }
}

.data-label {
    @include expand();
    @include target();
    @include typography-strong();
}

.data-meter {
    @include meter-fill($icon-disabled);
    appearance: none;
    background: none;
    border: $spacing-none;
    border-radius: $spacing-unit;
    display: block;
    height: $leading-normal;
    padding: $spacing-unit $spacing-base;
    width: 100%;

    &::-webkit-meter-inner-element {
        display: block;
    }

    &::-webkit-meter-bar,
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
        border-radius: $spacing-unit;
    }

    &::-webkit-meter-bar {
        background: $color-divider;
    }

    &.active {
        @include meter-fill($color-primary);
    }
}

.data-percentage {
    @include target();
    color: $text-hint;
    font-family: $font-family-mono;
}
