@import "palette";
@import "spacing";
@import "typography";

.data-meter {
    appearance: none;
    background: none;
    border: $spacing-none;
    border-radius: $spacing-unit;
    display: block;
    height: $leading-normal;
    padding: $spacing-unit $spacing-base;
    width: 100%;

    &::-webkit-meter-inner-element {
        display: block;
    }

    &::-webkit-meter-bar,
    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
        border-radius: $spacing-unit;
    }

    &::-webkit-meter-bar {
        background: $color-divider;
    }

    &::-webkit-meter-optimum-value,
    &::-webkit-meter-suboptimum-value,
    &::-webkit-meter-even-less-good-value {
        background: $color-primary;
    }
}

.data-numeric,
.data-percentage {
    @include target();
    color: $text-hint;
    font-family: $font-family-mono;
}

.data-numeric {
    text-align: right;
    width: 8 * $spacing-base;
}
