// Elevation
// https://github.com/material-components/material-components-web/blob/master/packages/mdc-elevation/_variables.scss
@import "./variables";

@mixin elevation-small() {
    box-shadow: 0px 3px 1px -2px rgba($black, 0.2), 0px 2px 2px 0px rgba($black, 0.16),
        0px 1px 5px 0px rgba($black, 0.1);
}

@mixin elevation-medium() {
    box-shadow: 0px 2px 4px -1px rgba($black, 0.2), 0px 4px 5px 0px rgba($black, 0.16),
        0px 1px 10px 0px rgba($black, 0.1);
}

@mixin elevation-large() {
    box-shadow: 0px 5px 5px -3px rgba($black, 0.2), 0px 8px 10px 1px rgba($black, 0.16),
        0px 3px 14px 2px rgba($black, 0.1);
}
