// IBM Color Palette
// https://www.ibm.com/design/language/resources/color-library/
$blue-1: #e1ebf7;
$blue-10: #c8daf4;
$blue-20: #a8c0f3;
$blue-30: #79a6f6;
$blue-40: #5392ff;
$blue-50: #2d74da;
$blue-60: #1f57a4;
$blue-70: #25467a;
$blue-80: #1d3458;
$blue-90: #19273c;
$ultramarine-1: #e7e9f7;
$ultramarine-10: #d1d7f4;
$ultramarine-20: #b0bef3;
$ultramarine-30: #89a2f6;
$ultramarine-40: #648fff;
$ultramarine-50: #3c6df0;
$ultramarine-60: #3151b7;
$ultramarine-70: #2e3f8f;
$ultramarine-80: #252e6a;
$ultramarine-90: #20214f;
$cerulean-1: #deedf7;
$cerulean-10: #c2dbf4;
$cerulean-20: #95c4f3;
$cerulean-30: #56acf2;
$cerulean-40: #009bef;
$cerulean-50: #047cc0;
$cerulean-60: #175d8d;
$cerulean-70: #1c496d;
$cerulean-80: #1d364d;
$cerulean-90: #1b2834;
$aqua-1: #d1f0f7;
$aqua-10: #a0e3f0;
$aqua-20: #71cddd;
$aqua-30: #00b6cb;
$aqua-40: #12a3b4;
$aqua-50: #188291;
$aqua-60: #17616b;
$aqua-70: #164d56;
$aqua-80: #13393e;
$aqua-90: #122a2e;
$teal-1: #c0f5e8;
$teal-10: #8ee9d4;
$teal-20: #40d5bb;
$teal-30: #00baa1;
$teal-40: #00a78f;
$teal-50: #008673;
$teal-60: #006456;
$teal-70: #124f44;
$teal-80: #133a32;
$teal-90: #122b26;
$green-1: #cef3d1;
$green-10: #89eda0;
$green-20: #57d785;
$green-30: #34bc6e;
$green-40: #00aa5e;
$green-50: #00884b;
$green-60: #116639;
$green-70: #12512e;
$green-80: #123b22;
$green-90: #112c1b;
$lime-1: #d7f4bd;
$lime-10: #b4e876;
$lime-20: #95d13c;
$lime-30: #81b532;
$lime-40: #73a22c;
$lime-50: #5b8121;
$lime-60: #426200;
$lime-70: #374c1a;
$lime-80: #283912;
$lime-90: #1f2a10;
$yellow-1: #fbeaae;
$yellow-10: #fed500;
$yellow-20: #e3bc13;
$yellow-30: #c6a21a;
$yellow-40: #b3901f;
$yellow-50: #91721f;
$yellow-60: #70541b;
$yellow-70: #5b421a;
$yellow-80: #452f18;
$yellow-90: #372118;
$gold-1: #f5e8db;
$gold-10: #ffd191;
$gold-20: #ffb000;
$gold-30: #e39d14;
$gold-40: #c4881c;
$gold-50: #9c6d1e;
$gold-60: #74521b;
$gold-70: #5b421c;
$gold-80: #42301b;
$gold-90: #2f261c;
$orange-1: #f5e8de;
$orange-10: #fdcfad;
$orange-20: #fcaf6d;
$orange-30: #fe8500;
$orange-40: #db7c00;
$orange-50: #ad6418;
$orange-60: #814b19;
$orange-70: #653d1b;
$orange-80: #482e1a;
$orange-90: #33241c;
$peach-1: #f7e7e2;
$peach-10: #f8d0c3;
$peach-20: #faad96;
$peach-30: #fc835c;
$peach-40: #fe6100;
$peach-50: #c45433;
$peach-60: #993a1d;
$peach-70: #782f1c;
$peach-80: #56251a;
$peach-90: #3a201b;
$red-1: #f7e6e6;
$red-10: #fccec7;
$red-20: #ffaa9d;
$red-30: #ff806c;
$red-40: #ff5c49;
$red-50: #e62325;
$red-60: #aa231f;
$red-70: #83231e;
$red-80: #5c1f1b;
$red-90: #3e1d1b;
$magenta-1: #f5e7eb;
$magenta-10: #f5cedb;
$magenta-20: #f7aac3;
$magenta-30: #f87eac;
$magenta-40: #ff509e;
$magenta-50: #dc267f;
$magenta-60: #a91560;
$magenta-70: #831b4c;
$magenta-80: #5d1a38;
$magenta-90: #401a29;
$purple-1: #f7e4fb;
$purple-10: #efcef3;
$purple-20: #e4adea;
$purple-30: #d68adf;
$purple-40: #cb71d7;
$purple-50: #c22dd5;
$purple-60: #9320a2;
$purple-70: #71237c;
$purple-80: #501e58;
$purple-90: #3b1a40;
$violet-1: #ece8f5;
$violet-10: #e2d2f4;
$violet-20: #d2b5f0;
$violet-30: #bf93eb;
$violet-40: #b07ce8;
$violet-50: #9753e1;
$violet-60: #7732bb;
$violet-70: #602797;
$violet-80: #44216a;
$violet-90: #321c4c;
$indigo-1: #e9e8ff;
$indigo-10: #dcd4f7;
$indigo-20: #c7b6f7;
$indigo-30: #ae97f4;
$indigo-40: #9b82f3;
$indigo-50: #785ef0;
$indigo-60: #5a3ec8;
$indigo-70: #473793;
$indigo-80: #352969;
$indigo-90: #272149;
$gray-1: #eaeaea;
$gray-10: #d8d8d8;
$gray-20: #c0bfc0;
$gray-30: #a6a5a6;
$gray-40: #949394;
$gray-50: #777677;
$gray-60: #595859;
$gray-70: #464646;
$gray-80: #343334;
$gray-90: #272727;
$cool-gray-1: #e3ecec;
$cool-gray-10: #d0dada;
$cool-gray-20: #b8c1c1;
$cool-gray-30: #9fa7a7;
$cool-gray-40: #8c9696;
$cool-gray-50: #6f7878;
$cool-gray-60: #535a5a;
$cool-gray-70: #424747;
$cool-gray-80: #343334;
$cool-gray-90: #272727;
$warm-gray-1: #efe9e9;
$warm-gray-10: #e2d5d5;
$warm-gray-20: #ccbcbc;
$warm-gray-30: #b4a1a1;
$warm-gray-40: #9e9191;
$warm-gray-50: #7d7373;
$warm-gray-60: #5f5757;
$warm-gray-70: #4b4545;
$warm-gray-80: #373232;
$warm-gray-90: #2a2626;
$neutral-white-1: #fcfcfc;
$neutral-white-2: #f9f9f9;
$neutral-white-3: #f6f6f6;
$neutral-white-4: #f3f3f3;
$cool-white-1: #fbfcfc;
$cool-white-2: #f8fafa;
$cool-white-3: #f4f7f7;
$cool-white-4: #f0f4f4;
$warm-white-1: #fdfcfc;
$warm-white-2: #fbf8f8;
$warm-white-3: #f9f6f6;
$warm-white-4: #f6f3f3;
$black-100: #000;
$white-0: #fff;
