@import "palette";
@import "spacing";
@import "typography";

.numeric-input {
    color: inherit;
    font-family: $font-family-mono;
    font-size: inherit;
    height: $leading-loose;
    line-height: inherit;
    padding: $spacing-small $spacing-none;
    text-align: center;
    width: $leading-loose;
}
