@import "spacing";
@import "typography";

@mixin vertical-spacing() {
    margin-bottom: $leading-normal;
}

.appbar {
    @include vertical-spacing();
    background: $color-primary;
    width: 100%;
    position: absolute;
    top: 0;
}

.main {
    margin-top: 5 * $leading-normal;
    & .section:last-child {
        margin-bottom: $spacing-none;
    }
}

.section {
    @include vertical-spacing();
}

.row {
    @include container();
}
