@import "palette";
@import "spacing";
@import "typography";

.icon-link {
    @include target();
    display: block;
    color: $icon-inactive;

    &:hover,
    &.active {
        color: $icon-active;
    }
}

.tab-link {
    @include expand();
    @include target();
    @include typography-small();
    color: $text-hint;
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover,
    &.active {
        @include border-target();
        color: $text-normal;
    }
}
