$color-primary: #689f38;
$color-background: #fff;

$text-normal: rgba(0, 0, 0, 0.87);
$text-hint: rgba(0, 0, 0, 0.6);
$text-disabled: rgba(0, 0, 0, 0.38);

$divider: rgba(0, 0, 0, 0.12);

$icon-active: $text-normal;
$icon-inactive: $text-hint;
$icon-disabled: $text-disabled;
