@import "palette";
@import "spacing";
@import "typography";

.tabbar {
    @include container();
}

.tab {
    @include expand();
    @include divider-target();
    @include typography-small();
    color: $text-hint;
    text-align: center;
    text-decoration: none;

    &:hover {
        color: $color-primary;
        @include border-target();
    }
}
