@import "spacing";

$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
$font-family-mono: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;

$font-hairline: 100;
$font-thin: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

$leading-normal: $spacing-base * 1.5;
$leading-loose: $leading-normal * 2;

@mixin typography-small() {
    font-size: $spacing-small;
    font-weight: $font-semibold;
    text-transform: uppercase;
}

@mixin typography-strong() {
    font-size: $spacing-base;
    font-weight: $font-medium;
}

@mixin typography-large() {
    font-size: $spacing-large;
    font-weight: $font-medium;
}
