@import "./ibm";

$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
$font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

$white: $white-0;
$black: $black-100;
$primary: $lime-50;
$danger: $red-10;
$danger-border: $red-20;
$warning: $gold-10;
$warning-border: $gold-20;
$safe: $cerulean-10;
$safe-border: $cerulean-20;
$help: $cool-gray-50;
$surface: $cool-gray-90;
$highlight: rgba($primary, 0.12);
$ripple: rgba($primary, 0.24);

$subunit: 0.25rem;
$unit: 0.5rem;

$leading: 3 * $unit;

$border: $subunit / 4 solid $cool-gray-10;
$border-radius: $subunit / 2;
